@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
}

.section1 {
    background-color: #222222;
    height: 48px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 13px;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67px;
    font-weight: 350;
}

.section2a {
    margin-top: 5px;
    padding-right: 200px;
    padding-left: 10px;
}

.section2 img {
    margin-top: 15px;
    width: 340px;

}

.section2a input {
    font-size: 15px;
    border: none;
    outline: none;
    width: 263px;
    height: 29px;
    padding-left: 10px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.089);
}

.section2a :hover {
    box-shadow: 0 1px 0 0 black;
}

.fa-magnifying-glass {
    padding-left: 4px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.089);
    padding-bottom: 7.5px;
}

.section2b {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    padding-left: 220px;
    font-size: 13px;
}


.section3 {
    font-weight: 360;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.section3 div {
    height: 48px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 div :hover {
}

.bl {
    width: 112px;
}

.na {
    width: 116px;
}

.c {
    width: 90px;
}

.w {
    width: 78px;
}

.d {
    width: 82px;
}

.t {
    width: 62px;
}

.a {
    width: 100px;
}

.cj {
    width: 133px;
}

.de {
    width: 69px;
}

.ac {
    width: 109px;
}

.b {
    width: 76px;
}

.section4 {
    display: flex;
    flex-direction: column;
}

.img {
    height: 557px;
    width: 100%;
}

.section4 img {
    height: 100%;
    width: 100%;
}

.img2 {
    display: flex;
    flex-direction: row;
}

.img2 div {
    height: 844px;
    width: 676px;
}

.section5 {
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 150;
}

.section5a {
    width: 428px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.section5a div {
    height: 24px;
}

.div1 {
    width: 111px;
    font-weight: 250;
}

.div2 {
    width: 77px;
}

.div3 {
    width: 102px;
}

.section6 {
    height: 534px;
    display: flex;
    gap: 4px;
}

.image {
    height: 534px;
    width: 335px;
}

.image1 {
    height: 534px;
    width: 335px;
    background-image: url(../img/image1.avif);
    background-size: contain;
}

.image2 {
    height: 534px;
    width: 335px;
    background-image: url(../img/image4.avif);
    background-size: contain;
}

.arrow {
    height: 32px;
    width: 32px;
    margin-top: 267px;
    background-color: #4E4239;
    color: rgba(255, 255, 255, 0.863);
    padding-top: 5.5px;
}

.r {
    display: flex;
    flex-direction: row-reverse;
}

.section6 img {
    height: 100%;
    width: 100%;
}

.section7 {
    height: 676px;
    margin-top: 64px;
}

.section7 img {
    height: 100%;
    width: 100%;
}

.section8 {
    height: 192px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.section8a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 300;
    color: #550503;
}

.section9 {
    width: 100%;
}

.section9 img {
    width: 100%;
}

.section10 {
    display: flex;
    margin-bottom: 48px;
}

.i {
    height: 450px;
    width: 338px;
}

.section10 img {
    height: 100%;
    width: 100%;
}

.section11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aquamarine;
}

.au {
    background-color: palegreen;
    height: 24px;
    width: 1255px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.note {
    background-color: blue;
    display: flex;
    justify-content: center;
}